<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Khoa Công nghệ thông tin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="@Url.Content("~/assets/img/favicon.png")" rel="icon">
    <link href="@Url.Content("~/assets/img/apple-touch-icon.png")" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="@Url.Content("~/assets/vendor/aos/aos.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/bootstrap-icons/bootstrap-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/boxicons/css/boxicons.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/glightbox/css/glightbox.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/remixicon/remixicon.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/swiper/swiper-bundle.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/assets1/vendor/bootstrap/css/bootstrap.min.css")">
    <link href="@Url.Content("~/assets1/vendor/fonts/circular-std/style.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/assets1/libs/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets1/vendor/fonts/fontawesome/css/fontawesome-all.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets1/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css")">
    <!-- Template Main CSS File -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="background-color:#37517e" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="@Url.Action("Index","Home")">Khoa CNTT</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown">
                        <a href="#"><span>Giới thiệu</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="@Url.Action("Index","GioiThieus")">Giới thiệu</a></li>
                            <li><a href="@Url.Action("Index2","GioiThieus")">Cơ cấu tổ chức</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#about">Đào tạo</a></li>

                    <li class="dropdown">
                        <a href="#"><span>Tuyển dụng</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="https://ejob.vanlanguni.edu.vn/" target="_blank">Sinh viên đang học</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="https://tuyensinh.vanlanguni.edu.vn/cong-nghe-thong-tin/" target="_blank">Tuyển sinh</a></li>

                    <li class="dropdown">
                        <a href="#"><span>Liên kết</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="https://online.vlu.edu.vn/" target="_blank">Thông tin sinh viên</a></li>
                            <li><a href="https://thuvien.vanlanguni.edu.vn/" target="_blank">Thư viện Văn Lang</a></li>
                            <li><a href="https://elearning.vanlanguni.edu.vn/" target="_blank">Trang học trực tuyến</a></li>
                            <li><a href="https://youth.vanlanguni.edu.vn/" target="_blank">Trang Đoàn - Hội</a></li>
                            <li><a href="#">Chia sẻ công cụ</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <p></p><br/><br />
        @if (TempData["AlertMessage"] != null)
        {
        <div class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
        }
        @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <section id="contact" class="contact">
                    <div class="container" data-aos="fade-up">
                        <div class="section-title">
                            <h2>Contact</h2>
                        </div>
                        <div class="row">

                            <div class="col-lg-5 d-flex align-items-stretch">
                                <div class="info">
                                    <div class="address">
                                        <i class="bi bi-geo-alt"></i>
                                        <h4>Location:</h4>
                                        <p>
                                            <strong>Cơ sở chính:</strong> 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM<br>
                                            <strong>Cơ sở 1:</strong> 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, TP. HCM<br>
                                            <strong>Cơ sở 2:</strong> 233A Phan Văn Trị, P.11, Q. Bình Thạnh, TP. HCM<br>
                                            <strong>Ký túc xá:</strong> 160/63A-B Phan Huy Ích, P. 12, Q. Gò Vấp, TP. HCM<br>
                                        </p>
                                    </div>
                                    <a href="mailto:k.cntt@vlu.edu.vn">
                                        <div class="email">
                                            <i class="bi bi-envelope"></i>
                                            <h4>Email:</h4>
                                            <p>k.cntt@vlu.edu.vn</p>
                                        </div>
                                    </a>
                                    <a href="tel:028.38367933">
                                        <div class="phone">
                                            <i class="bi bi-phone"></i>
                                            <h4>Call:</h4>
                                            <p>028.38367933</p>
                                        </div>
                                    </a>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <div class="facebook">
                                            <i class="bi bi-facebook"></i>
                                            <h4>Facebook</h4>
                                            <p></p>
                                        </div>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <div class="instagram">
                                            <i class="bi bi-instagram"></i>
                                            <h4>Instagram</h4>
                                            <p></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27931.268631971983!2d106.67860308559231!3d10.813326074921958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f4a62fce9b%3A0xc99902aa1e26ef02!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWxINuIExhbmcgLSBDxqEgc-G7nyAz!5e0!3m2!1svi!2s!4v1622997890472!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>

                        </div>

                    </div>

                </section><!-- End Contact Section -->
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>

        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "732498723750670");
            chatbox.setAttribute("attribution", "biz_inbox");

            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v11.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="@Url.Content("~/assets/vendor/aos/aos.js")"></script>
    <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/glightbox/js/glightbox.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/isotope-layout/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/php-email-form/validate.js")"></script>
    <script src="@Url.Content("~/assets/vendor/swiper/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/waypoints/noframework.waypoints.js")"></script>
    <script src="@Url.Content("~/assets1/vendor/jquery/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/assets1/vendor/bootstrap/js/bootstrap.bundle.js")"></script>
    <script src="@Url.Content("~/assets1/vendor/slimscroll/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/assets1/libs/js/main-js.js")"></script>
    <!-- Template Main JS File -->
    <script src="@Url.Content("~/assets/js/main.js")"></script>
    @RenderSection("scripts", required: false)
    <script>
        // tooltip demo
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

        // popover demo
        $("[data-toggle=popover]").popover()
        $('#alertBox').removeClass('hide');
        $('#alertBox').delay(1000).slideUp(500);
    </script>
</body>

</html>