@model SEP21.Models.TuyenDung

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết thông tin tuyển dụng</h2>

<div>
    <h4>Tuyển dụng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vị trí
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Yêu cầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YeuCau)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở lại", "Index")
</p>
