@model IEnumerable<SEP21.Models.TuyenDung>

@{
    ViewBag.Title = "Index";
}

<h2>Tuyển Dụng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vị Trí
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Yêu Cầu
        </th>
        <th>
            Tiêu Đề
        </th>
        <th>
            Loại Tuyển Dụng
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ViTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YeuCau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTuyenDung)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
