@model SEP21.Models.SinhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn chắc chắn muốn xóa không ?</h3>
<div>
    <h4>Thông tin sinh viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MSSV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Niên khóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            Mã khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.MaKhoa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
