@model SEP21.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Sinh viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MSSV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
           Niên khóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            Mã khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.MaKhoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở lại", "Index")
</p>
