@model SEP21.Models.DoanHoiKhoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn Chắc Chắn Muốn Xóa Không ?</h3>
<div>
    <h4>Đoàn Hội Khoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chức Vụ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt>
            Đoàn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doan)
        </dd>
        <dt>
            Hội
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hoi)
        </dd>
        <dt>
            MSSV
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SinhVien.MSSV)
        </dd>
        <dt>
            Hình Ảnh
        </dt>
        <div class="form-group">
            <label class="control-label col-md-2" for="IMG"></label>
            <img id="Picture" src="@Url.Action("Picture", new { Model.ID })" />
        </div>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Lại", "Index")
        </div>
    }
</div>
