@model IEnumerable<SEP21.Models.BaiViet>
@{
    ViewBag.Title = "Home Page";
}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Chào mừng đến với Khoa Công nghệ thông tin</h1>
                    <h2>Đạo đức - ý chí - sáng tạo</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="https://www.youtube.com/watch?v=mveofh0MZDQ" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="@Url.Content("~/assets/img/hero-img.png")" class="img-fluid animated">
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <div class="col-md-3 col-md-offset-3">
                        <form action="@Url.Action("Search")" method="get">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm bài viết" value="@ViewBag.Keyword">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <h2 style="font-family: Arial">Tin tức - hoạt động</h2>
                </div>

                <div class="row content">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <div class="card">
                                <a href="@Url.Action("Details","BaiViet", new { item.ID })">
                                    <img class="img-fluid" width="600px" height="400px" src="@Url.Action("Picture", new { item.ID })" alt="hinhanh">
                                    <div class="card-body">
                                        <h3 class="card-title">*@item.LoaiBaiViet1.TenLoaiBaiViet* @item.TieuDe</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
</main><!-- End #main -->