@model IEnumerable<SEP21.Models.BaiViet>
@{
    ViewBag.Title = "Home Page";
}
<main id="main">
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Tin tức - hoạt động</h2>
                </div>
                <div class="row content">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <div class="card">
                                <img class="img-fluid" style="max-width:100%" src="@Url.Action("Picture", new { item.ID })" alt="hinhanh">
                                <div class="card-body">
                                    <h3 class="card-title">@item.TieuDe</h3>
                                    <p class="card-text">
                                        @if (item.NoiDung != null && item.NoiDung.Length > 100)
                                        {
                                            @item.NoiDung.Substring(0, 100)
                                        }
                                        else
                                        {
                                            @item.NoiDung
                                        }
                                    </p>
                                    <p class="text-muted">Last updated 3 mins ago
                                    @if (item.LoaiBaiViet1.TenLoaiBaiViet == "Hoạt động")
                                    {
                                        <a href="#" class="btn btn-primary">Đăng ký hoạt động</a>
                                    }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
        </section><!-- End About Us Section -->
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-1.png")" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-2.png")" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-3.png")" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-4.png")" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-5.png")" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="@Url.Content("~/assets/img/clients/client-6.png")" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Cliens Section -->
</main><!-- End #main -->