@model IEnumerable<SEP21.Models.TuyenDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Tuyển dụng</li>
            </ol>
            <h2 style="font-family:Arial">Tuyển dụng</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    @foreach (var item in Model)
    {
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="portfolio-info">
                            <h3>@item.ViTri</h3>
                            <p style="color:black">Số lượng: @item.SoLuong</p>
                            <p style="color:black">Yêu cầu:</p>
                            <p style="color:black">@item.YeuCau</p>
                            <p style="color:black">Chi tiết:</p>
                            <p style="color:black">@Html.Raw(item.ChiTiet)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</main>
