@model SEP21.Models.DangKyHoatDong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/Plugin/ckfinder/ckfinder.js"></script>
    <script src="~/Plugin/ckeditor/ckeditor.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#btn-img-select').click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $("#imgvalue").val(url);
                };
                finder.popup();
            });
            CKEDITOR.replace('NoiDung');
        });
    </script>
}
<h2>Details</h2>

<div>
    <h4>DangKyHoatDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianDangKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoatDong1.TenHoatDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoatDong1.TenHoatDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhVien.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhVien.MSSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
