@model IEnumerable<SEP21.Models.DaoTao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Đào Tạo</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Nội dung
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.TieuDe
        </td>
        <td>
            @item.NoiDung
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
