@model SEP21.Models.NCKH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Nghiên Cứu Khoa Học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Nội Dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt>
            Hình Ảnh
        </dt>

    </dl>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="IMG"></label>
    <img id="Picture" src="@Url.Action("Picture", new { Model.ID })" />
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở Lại", "Index")
</p>
