@model IEnumerable<SEP21.Models.NCKH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Nghiên Cứu Khoa Học</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tên
        </th>
        <th>
            Nội Dung
        </th>      
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
