@model IEnumerable<SEP21.Models.DangKyHoatDong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh Sách Đăng Kí Hoạt Động</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            Thời Gian Đăng Ký
        </th>
        <th>
            Tên hoạt động
        </th>
        <th>
            MSSV
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ThoiGianDangKy
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaiViet.TieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
