@model SEP21.Models.ThanhTich

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Thành Tích</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Thành Tích
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThanhTich)
        </dd>

        <dt>
            Người Đạt Thành Tích
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDatThanhTich)
        </dd>

        <dt>
            Nội Dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở Lại", "Index")
</p>
