<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/css/metisMenu.min.css")" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@Url.Content("~/css/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/css/startmin.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/css/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Startmin</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Giới thiệu<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Sứ mạng</a>
                                </li>
                                <li>
                                    <a href="#">Tầm nhìn</a>
                                </li>
                                <li>
                                    <a href="#">Triết lý giáo dục</a>
                                </li>
                                <li>
                                    <a href="#">Cơ cấu tổ chức</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Đào tạo<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Sinh Viên<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Thông tin sinh viên</a>
                                </li>
                                <li>
                                    <a href="#">Đoàn - hội khoa</a>
                                </li>
                                <li>

                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Hoạt động<span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Tra cứu<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Nghiên cứu khoa học</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Thành tích<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Thành tích</a>                   
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Sinh viên</a>
                                        </li>
                                        <li>
                                            <a href="#">Giảng viên</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                               
                                </li>
                                <li>
                                    <a href="#">Học bổng</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Tuyển dụng<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Sinh viên đang học</a>
                                </li>
                                <li>
                                    <a href="#">Sinh viên đã tốt nghiệp</a>
                                </li>
                                <li>
                                    <a href="#">Tuyển dụng Khoa CNTT</a>
                                </li>
                                <li>
                                    <a href="#">Tuyển dụng VLU</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Tuyển sinh<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Liên kết<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Thư viện Văn Lang</a>
                                </li>
                                <li>
                                    <a href="#">Elearning</a>
                                </li>
                                <li>
                                    <a href="#">Đoàn - hội VLU</a>
                                </li>
                                <li>
                                    <a href="#">Chia sẻ công cụ</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/js/metisMenu.min.js")"></script>

    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/js/raphael.min.js")"></script>
    <script src="@Url.Content("~/js/morris.min.js")"></script>
    <script src="@Url.Content("~/js/morris-data.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/js/startmin.js")"></script>

</body>
</html>
