@model SEP21.Models.BaiViet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Plugin/ckfinder/ckfinder.js"></script>
    <script src="~/Plugin/ckeditor/ckeditor.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#btn-img-select').click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $("#imgvalue").val(url);
                };
                finder.popup();
            });
            CKEDITOR.replace('NoiDung');
            $editor_data = $_POST['NoiDung'];
        });
    </script>
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>@Model.TieuDe</li>
            </ol>
            <h2>@Model.TieuDe</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-12">
                    <div class="portfolio-info">
                        @*<textarea name="NoiDung" id="editor" readonly>
                           @Model.NoiDung
                       </textarea>*@
                        @Html.Raw(Model.NoiDung);
                        <h3>Để đăng ký hoạt động, vui lòng điền thông tin của bạn</h3>
                        <form role="form" action="~/BaiViet/Login" method="post">
                            <input hidden class="form-control" value="@Model.ID" name="id"/>
                            <div class="form-group">
                                <label>thông tin đăng nhập</label>
                                <input class="form-control" name="username">
                                <p class="help-block">Bao gồm tên.mssv</p>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input class="form-control" name="password">
                                <p class="help-block">Mặc định: VLUmssv</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Đăng ký</button>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->