@model SEP21.Models.BaiViet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn Chắc Chắn Muốn Xóa Không ?</h3>
<div>
    <h4>Bài Viết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày Đăng Bài
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangBai)
        </dd>
        <dt>
            Tiêu Đề
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt>
            Nội Dung
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt>
            Tên Loại Bài Viết
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiBaiViet1.TenLoaiBaiViet)
        </dd>
        <dt>
            Mã Nhân Viên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhanVienKhoa.MaNhanVien)
        </dd>
        <dt>
            Hình Ảnh
        </dt>
        <div class="form-group">
            <label class="control-label col-md-2" for="IMG"></label>
            <img id="Picture" src="@Url.Action("Picture", new { Model.ID })" />
        </div>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Lại", "Index")
        </div>
    }
</div>
