@model SEP21.Models.BaiViet

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiViet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDangBai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangBai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiBaiViet1.TenLoaiBaiViet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBaiViet1.TenLoaiBaiViet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVienKhoa.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVienKhoa.MaNhanVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
