@model SEP21.Models.BaiViet

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thông Tin Bài Viết</h2>

<div>
    <h4>Bài Viết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày Đăng Bài
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangBai)
        </dd>

        <dt>
            Tiêu Đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            Nội Dung
        </dt>

        <dd>
            @Html.Raw(Model.NoiDung)
        </dd>

        <dt>
            Tên Loại Bài Viết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBaiViet1.TenLoaiBaiViet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở Lại", "Index2")
</p>
