@model IEnumerable<SEP21.Models.BaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bài Viết</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày Đăng
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            Nội dung
        </th>
        <th>
            Loại Bài Viết
        </th>
        <th>
            Người đăng
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDangBai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TieuDe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoiDung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiBaiViet1.TenLoaiBaiViet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NhanVienKhoa.MaNhanVien)
    </td>
    <td>
        <img src="@Url.Action("Picture", "BaiViets", new { item.ID })" width="50px" height="50px" />
    </td>
    <td>
        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>

